* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  
}

img {
  max-width: 100%;
}

.col-6 {
}

.menu li {
  list-style: none;
  display: inline;
  margin: 0 50px;
}

.menu li::after {
}
.color_yellow {
  color: #efb02e;
}

.visual_2 ul li {
  list-style: none;
  display: inline;
}

.container {
  border: 1px grey solid;
  max-width: 900px !important;
}

.section_1 {
  padding: 0 40px;
}

.row {
  margin-top: 24px;
  display: flex;
  align-items: center;
}

.proc_title {
  font-size: 60px;
  font-weight: 700;
  padding: 16px 0;
  position: relative;
}

.proc_title::before {
  content: '';
  border-bottom: 8px #e3e0e4 solid;
  padding: 0px 32%;
  height: 0.7em;
  position: absolute;
  top: 60%;
}

.proc_title.blue-green {
  color: #66c6d5;
}

.proc_title.yellow {
  color: #ffb62e;
}

.proc_content {
  color: #545454;
  font-size: 24px;
  line-height: 40px;
  margin-top: 24px;
}

.sub_title_1 {
  text-align: center;
  background-color: #f198a8;
  margin-top: 64px;
  padding: 8px;
  transform: skewX(-30deg);
}

.reskew {
  transform: skewX(30deg);
}

.sub_title_1 h2 {
  font-size: 64px;
  font-weight: bold;
  color: white;
}

/* 以下 AB */
.sub_title_2{ background:#e24242; color:#fff; text-align: center; font-size: 2rem;  padding:20px; margin-left: -15px; margin-right: -15px;}
.sub_title_2 h2{ color:#fff;  font-size: 4rem; font-weight: 700;}

.visual_2{ background:#545454;  text-align: center; color: #fff; padding: 20px; margin-left: -15px; margin-right: -15px;}
.visual_2 .inner{ border:3px solid #ffb62e; border-radius: 12px; }
.visual_2 .inner p{ font-size: 21px;}
.visual_2 ul{ max-width: 80%; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: center; align-self: center;}

.visual_2 ul li{width: 28%; margin:2%; border:5px solid #fff; border-radius: 12px; padding: 15px;

          border-image: linear-gradient(to bottom right, #ec78ab 0%, #007ec7 50%, #e61264 100%);
          border-image-slice: 1;
          position: relative;
}


/* #e0b990 */
/* 食用方法 */
.cook{ background: #e0b990; padding: 8%; margin-left: -15px; margin-right: -15px;}
.cook .title{ color: #fff; text-align: center; margin-bottom: 50px;}
.cook .title::before,.cook .title::after{ content: ''; width: 80px; height: 2px; background: #000; display: inline-block; vertical-align: middle;}
.cook .title::before{ margin-right: 12px;}
.cook .title::after{ margin-left: 12px;}
.cook .subtitle{ display: block; width: 60%;margin: 0 auto; color: #fff; font-size: 2.5rem; text-align: center; background: #7bc8c3; padding: 12px 24px; border-radius: 50px;  position: relative;  z-index: 1;}
.cook ul{ display: flex; flex-wrap: wrap;  border-radius: 100px; border: 10px solid #fff; list-style: none; padding: 5% 8%; margin-top: -50px;}
.cook li{ width: 50%; padding: 2% 5%;}
.cook li img{ margin-bottom: 20px;}
.cook li h4{ color: #666; font-size: 1.8rem; margin-bottom: 20px;}
.cook li h4 span{ display: inline-block; width: 44px;height: 44px;text-align: center; border: 5px solid #666; border-radius: 50%; margin-right: 15px;}
.cook li p{ color: #fff; font-size: 1.2rem;}

/* vegetable */
.vegetable{}
.vegetable .pic{ text-align: center;}
.vegetable .title{ border-left: 15px solid gold; padding-left: 12px; margin-bottom: 12px;}
.vegetable .content{ font-size: 21px;}

